# Ignore audio files
*.wav

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env

# macOS
.DS_Store

# Editor/IDE
.vscode/
.idea/

# Test / coverage
.coverage
.pytest_cache/

# Logs
*.log

# Build/dist
dist/
build/

# Temporary files
*.tmp
*.swp
